* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-google {
  margin: 10px 0;
}

.img-google {
  display: block;
  margin: 0 auto;
}

/* .search-input {
} */
.search {
  display: block;
  margin: 10px auto;
  border-radius: 18px;
  border: 0.5px solid rgb(197, 193, 193);
  padding: 8px;
  width: 500px;
}

.btns-divs {
  display: flex;
  justify-content: center;
}

button {
  padding: 8px 16px;
  border: 1px solid rgb(218, 212, 212);
  background-color: white;
  border-radius: 12px;
  margin: 0 10px;
}

/* .space-section {
  width: 50%;
} */

.space-img {
  width: 100%;
}

.upgrade-section {
  display: flex;
}
