* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-google {
  margin: 10px 0;
}

.google-section {
  /* border: 1px solid red; */
}

.img-google {
  display: block;
  margin: 0 auto;
}

.search-input {
}
.search {
  display: block;
  margin: 10px auto;
  border-radius: 18px;
  border: 0.5px solid rgb(197, 193, 193);
  padding: 10px;
  width: 300px;
}

/* .space-section {
  width: 50%;
} */

.space-img {
  width: 100%;
}
