* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-google {
  margin: 10px 0;
}

.google-section {
  border: 1px solid red;
}

.img-google {
  display: block;
  margin: 0 auto;
}

.search-input {
}
.search {
  display: block;
  margin: 0 auto;
}

/* .space-section {
  width: 50%;
} */

.space-img {
  width: 100%;
}
