* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.img_portfolio {
  border-radius: 50%;
  height: 10em;
  width: 10em;
}

.title {
  margin: 20px 0;
  text-align: center;
}

.section_google {
  margin-top: 100px;
}

.googs_img {
  display: block;
  margin: 10px auto;
  width: 300px;
}

.searching {
  display: block;
  margin: 0 auto;
  border-radius: 12px;
  border: 1px solid rgb(117, 120, 122);
  width: 400px;
  height: 30px;
}
