* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.img_portfolio {
  border-radius: 50%;
  height: 10em;
  width: 10em;
}

.title {
  margin: 20px 0;
  text-align: center;
}

/* .section_google {
  margin-top: 100px;
}

.googs_img {
  display: block;
  margin: 10px auto;
  width: 300px;
}

.searching {
  display: block;
  margin: 0 auto;
  border-radius: 12px;
  border: 1px solid rgba(128, 128, 128, 0.628);
  width: 400px;
  height: 30px;
}

.btn-flex {
  display: flex;
  justify-content: center;
}

button {
  padding: 9px 18px;
  border-radius: 18px;
  background-color: white;
  border: 1px solid rgba(128, 128, 128, 0.628);
  font-weight: bold;
  font-size: 12px;
  margin: 10px 2px;
} */

.googs-img {
  display: block;
  width: 300px;
  margin: 0 auto;
}

.search-bar {
  display: block;
  width: 400px;
  margin: 15px auto;
  border-radius: 12px;
  border: 1px solid rgb(218, 212, 212);
  height: 30px;
}

.btns {
  display: flex;
  justify-content: center;
}

button {
  padding: 8px 16px;
  border: 1px solid rgb(218, 212, 212);
  background-color: white;
  border-radius: 12px;
  margin: 0 10px;
}
