* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.img_portfolio {
  border-radius: 50%;
  height: 10em;
  width: 10em;
}

.title {
  margin: 20px 0;
  text-align: center;
}

.section_google {
  margin-top: 100px;
}

.googs_img {
  display: block;
  margin: 10px auto;
  width: 300px;
}

.searching {
  display: block;
  margin: 0 auto;
  border-radius: 12px;
  border: 1px solid rgba(128, 128, 128, 0.628);
  width: 400px;
  height: 30px;
}

.btn-flex {
  display: flex;
  justify-content: center;
}

/* .searching-btn {
  margin: 0 auto;
  display: block;
}

.luckyy {
  margin: 0 auto;
  display: block;
} */

button {
  padding: 9px 18px;
  border-radius: 18px;
  background-color: white;
  border: 1px solid rgba(128, 128, 128, 0.628);
  font-weight: bold;
  font-size: 12px;
}
